@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-barlow: "Barlow Condensed";

  --breakpoint-*: initial;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* --hide-scrollbar::-webkit-scrollbar {
    display: none;
  } */
}
